{% extends 'main.html' %}

{% block title %}
    {{ super }} سیستم افزایش بازدید
{% endblock %}


{% block body %}
    <div class="body">
        <br/>
        <h1 style="text-align: center;"><i class="fas fa-rocket fa-5x"></i></h1><br/>
        <h2 style="text-align: center;">سیستم افزایش بازدید</h2><br/>
        <p>
            اگر قصد افزایش بازدید مطلب خود را دارید، اصلا نگران نباشید. ما تا آخر شما را همراهی می‌کنیم. با سیستم افزایش بازدید خیلی راحت و با مبلغ کمی می‌توانید مطلب خود را راحت‌تر و سریع‌تر به دست دیگران برسانید.
            <br/>
            <br/>
            در حال حاضر دو نوع افزایش بازید وجود دارد:
            <ul>
                <li> نمایش به صورت بنر در صفحه اول</li>
                <li> نمایش در زیر دیگر مطالب</li>
            </ul>
            <br/>
            قیمت‌ها:
            <ul>
                <li><strong>بنر در صفحه اول:</strong> هر 100 بازدید 2,000 تومان</li>
                <li><strong>زیر مطالب:</strong> هر 100 بازدید 1,500 تومان</li>
            </ul>
            <br/>
            <i>حداقل تعداد بازدید 100 است!</i>
            <br/>
            <br/>برای استفاده از سیستم افزایش بازدید با <a href="{% url 'support' %}">پشتیبانی</a> تماس بگیرید.
    </p>
    </div>
{% endblock %}