{% extends 'main.html' %}

{% block title %}
    {{ super }} رزومه {{ person.name }}
{% endblock %}


{% block body %}
    <div class="body  border-gray">
        {% if user.is_authenticated %}
            {% if user.username == person.username %}
                <div class="dropdown">
                    <a class="text-muted" type="button">
                        <p class="options"><i class="options fas fa-ellipsis-h"></i></p>
                    </a>
                    
                    <div class="dropdown-content">
                        <a href="{% url 'person:edit_rezome' %}">ویرایش</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <h2>رزومه {{ person.name }}</h2><br/>
        <p>{{ person.rezome | safe }}</p>
    </div>
{% endblock %}