{% extends 'main.html' %}
{% load jformat %}
{% load static %}

{% block title %}
    {{ super }} مطالب {{ person.name }}
{% endblock %}


{% block body %}
<h2>مطالب {{ person.name }}</h2><br/>
<ul class="infinite-container" style="list-style-type: none; padding-right: 0px;">
    {% for post in posts.object_list %}
        <li class="infinite-item">
            <div class="body shadow-ms border-gray">
                <!-- Post options for post author -->
                {% if user.is_authenticated %}
                    {% if user.username == post.author.username %}
                        <div class="dropdown" style="float: left;">
                            <a class="text-muted" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <p class="options">•••</p>
                            </a>
                            <div class="dropdown-menu shadow-ms border-gray" aria-labelledby="dropdownMenuButton" style="text-align: center;">
                                <a class="dropdown-item" href="{% url 'person:post:edit_post' post.id %}">ویرایش</a>
                                <button class="dropdown-item" type="button" class="btn btn-danger  border-gray" data-toggle="modal" data-target="#delete_post">حذف</button>
                            </div>
                        </div>

                        <!-- Delete Post -->
                        <div class="modal fade" id="delete_post" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">هشدار - حذف مطلب</h5>
                                    </div>
                                    <div class="modal-body">
                                        با اینکار مطلب حذف می‌شود و دیگر قابل بازیابی نیست.<br/>آیا مطمئن هستید؟
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary  border-gray" data-dismiss="modal">خیر</button>
                                        <a href="{% url 'person:post:delete_post' user.username post.id %}"><button type="button" class="btn btn-danger  border-gray">بله</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        {% if post.category != 'غیره' and post.category != None %}
                            <span class="badge badge-light" style="float: left; font-size: 1em; font-weight: lighter;">{{ post.category }}</span>
                        {% endif %}
                    {% endif %}

                {% else %}
                    {% if post.category != 'غیره' and post.category != None %}
                        <span class="badge badge-light" style="float: left; font-size: 1em; font-weight: lighter;">{{ post.category }}</span>
                    {% endif %}
                {% endif %}
                <div style="display: table;">
                    <div style="display: inline-block;">
                        <a href="{% url 'person:profile_detail' post.author.username %}">
                            {% if post.author.avatar.url != None %}
                                <img class="avatar border-gray " src="{{ post.author.avatar.url }}" width="48px" height="48px" class=" border-gray" style="border-style: solid; border-width: 1px;">
                            
                            {% else %}
                                <img class="avatar  border-gray" type="button" src="/media/avatars/default_avatar.png/" width="48px" height="48px" style="border-style: solid; border-width: 1px;">
                            {% endif %}
                        </a>
                        
                    </div>

                    <div style="display: table-cell; vertical-align: middle; padding-right: 20px;">
                        <p style="margin-bottom: 0px;">
                            <a class="person-name" href="{% url 'person:profile_detail' post.author.username %}">
                            
                                {{ post.author.name }} 
                            </a>
                            {% if post.author.work != None %}
                                - {{ post.author.work }}
                            {% endif %}
                        </p>
                        <small class="text-muted"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z"/>
                  </svg> {{ post.publish_time | jformat:'%Y/%m/%d' }} <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                  </svg> {{ post.publish_time | jformat:'%H:%M' }}</small>
                    </div>
                </div>
                <hr/>


                <div>
                    <a href="{% url 'person:post:post_detail' post.author.username post.id %}">
                        <h3 style="margin-bottom: 10px; padding-right: .75rem;">
                            {{ post.title }}
                        </h3>
                    
                        {% if post.cover != None %}
                            <div style="height: 200px;"><img style="object-fit: cover; width: 100%; height: 100%;" src="{{ post.cover }}"></div><br/>
                        {% endif %}

                        {% if post.short_description != None %}
                            <p style="line-break: unset;">{{ post.short_description }}</p>
                        {% endif %}
                    </a>

                    <div id="post-menu" class="post-bar-static border-gray">
                        <!-- Like -->
                        {% if user.is_authenticated %}
                        {% if post in person.likes.all %}
                        <a dir="ltr" href="{% url 'person:post:post_like' post.author.username post.id %}"><button
                                type="button" class="btn btn-light text-danger  border-gray">{{ post.likes }} <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                  </svg></button></a>

                        {% else %}
                        <a dir="ltr" href="{% url 'person:post:post_like' post.author.username post.id %}"><button
                                type="button" class="btn btn-light  border-gray">{{ post.likes }} <svg width="1em"
                                    height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></button></a>
                        {% endif %}

                        {% else %}
                        <a dir="ltr" href="{% url 'person:post:post_like' post.author.username post.id %}"><button
                                type="button" class="btn btn-light  border-gray">{{ post.likes }} <svg width="1em"
                                    height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg></button></a>
                        {% endif %}

                        <!-- Comments -->
                        <a dir="ltr"
                            href="{% url 'person:post:post_detail' post.author.username post.id %}#comments"><button
                                class="btn btn-light  border-gray" type="button">
                                {{ post.comments }} <svg width="1em" height="1em" viewBox="0 0 16 16"
                                    class="bi bi-chat-left-text-fill" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z" />
                                </svg>
                            </button></a>

                        <!-- Views -->
                            <button type="button" class="btn btn-light border-gray " dir="ltr">{{ post.views }}
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                    <path fill-rule="evenodd"
                                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                </svg></button>
                            {% if post in person.viewed_posts.all %}
                            <small class="text-muted"><i class="icofont-check-alt"></i> مشاهده
                                شده</small>
                            {% endif %}
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
<br/>

{% if posts.has_next %}
    <a class="infinite-more-link" href="{% url 'person:post:all_posts' person.username posts.next_page_number %}"></a>

    <div class="d-flex justify-content-center" style="display:none;">
        <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
{% endif %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
    <script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {

    },
    offset: 'bottom-in-view',

    onBeforePageLoad: function () {
    $('.spinner-grow').show();
    },
    onAfterPageLoad: function () {
    $('.spinner-grow').hide();
    }

    });

    </script>

{% endblock %}