{% extends 'main.html' %}
{% load jformat %}
{% load static %}

{% block title %}
    {{ super }} دنبال شوندگان توسط {{ person.name }}
{% endblock %}


{% block body %}
<h2>دنبال شوندگان توسط {{ person.name }}</h2><br/>

{% if following_available %}
    <ul class="infinite-container" style="list-style-type: none; padding-right: 0px;">
        {% for person in persons.object_list %}
            <li class="infinite-item">
                <div class="body shadow-ms border-gray">
                    {% if user.is_authenticated %}
                        {% if authenticated_user != person %}
                            <div class="dropdown" style="float: left;">
                                
                                <a class="text-muted" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <p class="options">
                                        •••
                                    </p>
                                </a>
                                
                                <div class="dropdown-menu shadow-ms border-gray" aria-labelledby="dropdownMenuButton" style="text-align: center;">
                                    {% if person in authenticated_user.following.all %}
                                    <a class="dropdown-item" href="{% url 'person:follow_person' person.username current_url %}">لغو دنبال</a>
                                        
                                    {% else %}
                                    <a class="dropdown-item" href="{% url 'person:follow_person' person.username current_url %}">دنبال کنید</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                    <div style="display: table;">
                        <div style="display: inline-block;">
                            <a href="{% url 'person:profile_detail' person.username %}">
                                {% if person.avatar.url != None %}
                                    <img class="avatar border-gray " src="{{ person.avatar.url }}" width="48px" height="48px" class=" border-gray" style="border-style: solid; border-width: 1px;">
                                
                                {% else %}
                                    <img class="avatar  border-gray" type="button" src="/media/avatars/default_avatar.png/" width="48px" height="48px" style="border-style: solid; border-width: 1px;">
                                {% endif %}
                            </a> 
                        </div>
            
                        <div style="display: table-cell; vertical-align: middle; padding-right: 20px;">
                            <p style="margin-bottom: 0px;">
                                <a class="person-name" href="{% url 'person:profile_detail' person.username %}">
                                
                                    {{ person.name }} 
                                </a>
                                {% if person.work != None %}
                                    - {{ person.work }}
                                {% endif %}
            
                                {% if person in authenticated_user.following.all %}
                                    <i class="text-muted" style="font-style: normal;"> - دنبال شده</i>
                                {% endif %}
                            </p>
                            {% if person.description != None %}
                                <small class="text-muted">{{ person.description }}</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <br/>

    {% if persons.has_next %}
        <a class="infinite-more-link" href="{% url 'person:friends' persons.next_page_number %}"></a>

        <div class="d-flex justify-content-center" style="display:none;">
            <div class="spinner-grow" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    {% endif %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
        <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            handler: function(direction) {

        },
        offset: 'bottom-in-view',

        onBeforePageLoad: function () {
        $('.spinner-grow').show();
        },
        onAfterPageLoad: function () {
        $('.spinner-grow').hide();
        }

        });

        </script>

{% else %}
    <div class="body shadow-ms border-gray">
        <p>کسی {{ person.name }} را دنبال نمی‌کند!</p>
    </div>
{% endif %}

{% endblock %}