{% extends 'main.html' %}
{% load jformat %}
{% load static %}

{% block title %}
    {{ super }} مطالب دوستان شما
{% endblock %}


{% block body %}
<h2>مطالب دوستان شما</h2><br/>
<ul class="infinite-container" style="list-style-type: none; padding-right: 0px;">
    {% for post in posts.object_list %}
        {% if post.author in person.following.all %}
            <li class="infinite-item">
                <div class="body shadow-ms border-gray">
                    {% if post.category != 'غیره' and post.category != None %}
                        <span class="badge badge-light" style="float: left; font-size: 1em; font-weight: lighter;">{{ post.category }}</span>
                    {% endif %}
                    <div style="display: table;">
                        <div style="display: inline-block;">
                            <a href="{% url 'person:profile_detail' post.author.username %}">
                                {% if post.author.avatar.url != None %}
                                    <img class="avatar border-gray " src="{{ post.author.avatar.url }}" width="48px" height="48px" class=" border-gray" style="border-style: solid; border-width: 1px;">
                                
                                {% else %}
                                    <img class="avatar  border-gray" type="button" src="/media/avatars/default_avatar.png/" width="48px" height="48px" style="border-style: solid; border-width: 1px;">
                                {% endif %}
                            </a>
                            
                        </div>

                        <div style="display: table-cell; vertical-align: middle; padding-right: 20px;">
                            <p style="margin-bottom: 0px;">
                                <a class="person-name" href="{% url 'person:profile_detail' post.author.username %}">
                                
                                    {{ post.author.name }} 
                                </a>
                                {% if post.author.work != None %}
                                    - {{ post.author.work }}
                                {% endif %}
                            </p>
                            <small class="text-muted"><i class="far fa-calendar"></i> {{ post.publish_time | jformat:'%Y/%m/%d' }} <i class="far fa-clock"></i> {{ post.publish_time | jformat:'%H:%M' }}</small>
                        </div>
                    </div>
                    <br/>


                    <div>
                        <a href="{% url 'person:post:post_detail' post.author.username post.id %}">
                            <h3 style="margin-bottom: 10px; padding-right: .75rem;">
                                {{ post.title }}
                            </h3>
                        
                            {% if post.cover != None %}
                                <div style="height: 200px;"><img style="object-fit: cover; width: 100%; height: 100%;" src="{{ post.cover }}"></div><br/>
                            {% endif %}
    
                            {% if post.short_description != None %}
                                <p style="line-break: unset;">{{ post.short_description }}</p>
                            {% endif %}
                        </a>
                        
                        <div id="post-menu" class="post-bar-static border-gray">
                            <!-- Like -->
                            {% if user.is_authenticated %}
                            {% if post in person.likes.all %}
                            <a dir="ltr" href="{% url 'person:post:post_like' post.author.username post.id %}"><button
                                    type="button" class="btn btn-light text-danger  border-gray">{{ post.likes }} <i class="fas fa-heart"></i></button></a>
    
                            {% else %}
                            <a dir="ltr" href="{% url 'person:post:post_like' post.author.username post.id %}"><button
                                    type="button" class="btn btn-light  border-gray">{{ post.likes }} <i class="far fa-heart"></i></button></a>
                            {% endif %}
    
                            {% else %}
                            <a dir="ltr" href="{% url 'person:post:post_like' post.author.username post.id %}"><button
                                    type="button" class="btn btn-light  border-gray">{{ post.likes }} <i class="far fa-heart"></i></button></a>
                            {% endif %}
    
                            <!-- Comments -->
                            <a dir="ltr"
                                href="{% url 'person:post:post_detail' post.author.username post.id %}#comments"><button
                                    class="btn btn-light  border-gray" type="button">
                                    {{ post.comments }} <i class="fas fa-comment"></i>
                                </button></a>
    
                            <!-- Views -->
                                <button type="button" class="btn btn-light border-gray " dir="ltr">{{ post.views }}
                                    <i class="fas fa-eye"></i></button>
                                {% if post in person.viewed_posts.all %}
                                <small class="text-muted"><i class="fas fa-check"></i> مشاهده
                                    شده</small>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </li>
        {% endif %}
    {% endfor %}
</ul>
<br/>

{% if posts.has_next %}
    <a class="infinite-more-link" href="{% url 'person:friends_posts' posts.next_page_number %}"></a>

    <div class="d-flex justify-content-center" style="display:none;">
        <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
{% endif %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
    <script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {

    },
    offset: 'bottom-in-view',

    onBeforePageLoad: function () {
    $('.spinner-grow').show();
    },
    onAfterPageLoad: function () {
    $('.spinner-grow').hide();
    }

    });

    </script>

{% endblock %}