{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#43168d">
    <meta name="language" content="FA">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="شبکه اجتماعی برنامه نویسان, {% block keywords %}{% endblock %}">
    <meta name="author" content="{% block author %}{% endblock %}">
    <meta name="application-name" content="شبکه اجتماعی برنامه نویسان">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-icon" >

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dracula.css' %}" />

    <link rel="manifest" href="{% static 'manifest.json' %}">

    <link rel="icon" href="{% static 'img/programmers-social_logo.svg' %}">
    <link rel="shortcut icon" href="{% static 'img/programmers-social_logo.svg' %}">
    <link rel="apple-touch-icon" href="{% static 'img/programmers-social_logo.svg' %}">

    <title>{% block title %}{% endblock %}- شبکه اجتماعی برنامه نویسان</title>
</head>

<body>
    {% include 'partials/navigation.html' %}

    <div class="wrp">
        {% block body %}{% endblock %}
        {% include 'partials/footer.html' %}
        <br />
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/darkmode.js' %}"></script>
    <script>
        function openModal(modalId) {
            var modal = document.getElementById(modalId);
        
            modal.style.display = "block";
            
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        function closeModal(modalId) {
            var modal = document.getElementById(modalId);
        
            modal.style.display = "none";
        }
    </script>
</body>

</html>