{% load static %}

<p>قرار دادن تصویر:</p>
<pre style="direction: rtl; text-align: right;">!(متن جایگزین)(آدرس تصویر)</pre>
<p>توجه: اگر داخل لینک «(» و «)» وجود دارد، اول و آخر آن «__» بگذارید.</p>
<p>مثال:</p>
<pre style="direction: rtl; text-align: right;">!(طبیعت)(http://programmers-social.ir/media/images/yellownature.jpeg/)</pre>
<div class="img"><img src="/media/images/yellownature.jpeg" alt="طبیعت"></div>
<hr /><br />

<p>قرار دادن لینک:</p>
<pre style="direction: rtl; text-align: right;">(متن لینک)(آدرس لینک)</pre>
<p>توجه: اگر داخل لینک «(» و «)» وجود دارد، اول و آخر آن «__» بگذارید.</p>
<p>مثال:</p>
<pre style="direction: rtl; text-align: right;">(شبکه اجتماعی برنامه نویسان)(http://programmers-social.ir/)</pre>
<a href="/" target="_blank">شبکه اجتماعی برنامه نویسان</a>
<hr /><br />

<p>بولد کردن متن:</p>
<pre style="direction: rtl; text-align: right;">**متن**</pre>
<p>مثال:</p>
<pre style="direction: rtl; text-align: right;">**این متن بولد است**</pre>
<strong>این متن بولد است</strong>
<hr /><br />

<p>ایتالیک کردن متن:</p>
<pre style="direction: rtl; text-align: right;">*متن*</pre>
<p>مثال:</p>
<pre style="direction: rtl; text-align: right;">*این متن ایتالیک است*</pre>
<i>این متن ایتالیک است</i>
<hr /><br />

<p>کد کردن متن:</p>
<pre style="direction: rtl; text-align: right;">`کد`</pre>
<p>مثال:</p>
<pre style="direction: rtl; text-align: right;">`This is an inline code`</pre>
<code>This is an inline code</code>
<hr /><br />

<p>ایجاد تیتر:</p>
<pre style="direction: rtl; text-align: right;">###تیتر</pre>
<p>مثال:</p>
<pre style="direction: rtl; text-align: right;">###بخش اول</pre>
<h3>بخش اول</h3>
<hr /><br />

<p>ایجاد جعبه کد:</p>
<pre style="direction: rtl; text-align: right;">```<br/>محل قرار گیری کد<br/>```</pre>
<p>مثال:</p>
<pre style="direction: rtl; text-align: right;">```<br/>x = 1<br/>y = 2<br/>print(x + y)<br/>```</pre>
<pre id="code">x = 1<br/>y = 2<br/>print(x + y)</pre>
<hr /><br />

<p>ایجاد فهرست:</p>
<pre style="direction: rtl; text-align: right;">- مورد اول<br/>- مورد دوم<br/>- مورد سوم<br/>...</pre>
<p>مثال:</p>
<pre style="direction: rtl; text-align: right;">- پایتون<br/>- جنگو<br/>- اچ تی ام ال</pre>
<ul>
    <li> پایتون</li>
    <li> جنگو</li>
    <li> اچ تی ام ال</li>
</ul>
<hr /><br />

<p>قرار دادن ریپوزیتوری از گیت هاب:</p>
<pre style="direction: rtl; text-align: right;">{ گیت هاب repo_adress }</pre>
<p>
    repo_adress:
    <br/>
    https://github.com/<strong style="border-bottom: 2px solid orangered">mskf1383/My-small-python-projects</strong>
</p>
<p>مثال:</p>
<pre style="direction: rtl; text-align: right;">{ گیت هاب mskf1383/My-small-python-projects }</pre>
<div dir="ltr" class="jumbotron" style="text-align: left; padding: 1rem; background: var(--light); border: 1px solid var(--border-color);">

    <h5 style="font-family: Vazir; font-weight: 400;">
    <img class="avatar border-gray" type="button" src="/media/avatars/mskf_avatar.png" width="48px" height="48px" style="border-style: solid; border-width: 1px;">
    <a href="https://github.com/mskf1383/My-small-python-projects/" target="_blank" rel="noopener nofollow"> mskf1383/My-small-python-projects</a>
    </h5>
    <p>This is my small projects written in python</p>
        <span class="badge" style=" font-size: 1em; font-weight: lighter;"><i class="fas fa-code"></i> Python</span>

        <span class="badge" style=" font-size: 1em; font-weight: lighter;"><i class="fas fa-balance-scale"></i> MIT License</span>

        <span class="badge" style=" font-size: 1em; font-weight: lighter;"><i class="far fa-star"></i> 3</span>
</div>
<hr /><br />

<p>قرار دادن گیست:</p>
<pre style="direction: rtl; text-align: right;">{ گیست gist_adress }</pre>
<p>
    gist_adress:
    <br/>
    https://gist.github.com/<strong style="border-bottom: 2px solid orangered">mskf1383/faf61e9cdcab2897086bffff3400c570</strong>
</p>
<p>مثال:</p>
<pre style="direction: rtl; text-align: right;">{ گیست mskf1383/faf61e9cdcab2897086bffff3400c570 }</pre>
<!-- <script src="https://gist.github.com/mskf1383/faf61e9cdcab2897086bffff3400c570.js"></script> -->