{% extends 'main.html' %}

{% block title %}
    {{ super }} رزومه {{ person.name }}
{% endblock %}


{% block body %}
    <div class="body shadow-ms border-gray">
        {% if user.is_authenticated %}
            {% if user.username == person.username %}
                <div class="dropdown" style="float: left;">
                    <a class="text-muted" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p class="options">•••</p>
                    </a>
                    <div class="dropdown-menu shadow-ms border-gray" aria-labelledby="dropdownMenuButton" style="text-align: center;">
                        <a class="dropdown-item" href="{% url 'person:edit_rezome' %}">ویرایش</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <h2>رزومه {{ person.name }}</h2><br/>
        <p>{{ person.rezome | safe }}</p>
    </div>
{% endblock %}