{% extends 'main.html' %}

{% block title %}
    {{ super }} به شبکه اجتماعی برنامه نویسان خوش آمدید!
{% endblock %}


{% block body %}
    <div class="body shadow-ms border-gray">
        <h1 style="text-align: center;"><i class="fas fa-birthday-cake fa-5x"></i></h1><br/>
        <h2 style="text-align: center;">به شبکه اجتماعی برنامه نویسان خوش آمدید!</h2><br/>
        <p>سلام، خوش حالیم که به جمع کاربران شبکه اجتماعی برنامه نویسان پیوستید. در ادامه شما را راهنمایی می‌کنیم تا فعالیت در شبکه اجتماعی برنامه نویسان را آغاز کنید:</p><br/>
        <h3>۱. اتصال حساب</h3>
        <p>پیشنهاد می‌کنیم قبل از هر چیز اگر در گیت‌هاب یا گیت‌لب عضو هستید، حساب شبکه اجتماعی برنامه نویسانتان را به حسابتان در گیت‌هاب و گیت‌لب متصل کنید. برای این کار به تنظیمات (<i class="fas fa-cog"></i>) بروید و با کلیک روی آیکون گیت‌هاب و گیت‌لب حسابتان را متصل کنید.</p><br/>
        <h3>۲. تکمیل پروفایل</h3>
        <p>از بخش تنظیمات (<i class="fas fa-cog"></i>) می‌توانید پروفایلتان را تکمیل کنید. گزینه‌های مربوط به صفحه پروفایل در سه گروه دسته بندی شده اند: <i class="fas fa-user"></i> اطلاعات شخصی، <i class="fas fa-code"></i> اطلاعات حرفه‌ای، <i class="fas fa-share-alt"></i> در فضای مجازی. با کلیک بر روی هر کدام گزینه‌ها را مشاهده می‌کنید.</p><br/>
        <h3>۳. نوشتن رزومه</h3>
        <p>بعد از تکمیل پروفایل شاید دوست داشته باشید یک رزومه هم برای خورتان بنویسید. برای این کار به تنظیمات (<i class="fas fa-cog"></i>) بروید و وارد بخش «<i class="far fa-file-alt"></i> ویرایش رزومه» بشوید. حالا رزومیتان را بنویسید.</p><br/>
        <h3>۴. انتشار اولین مطلب</h3>
        <p>بعد از انجام مراحل بالا وقتش شده که اولین مطلبتان را در شبکه اجتماعی برنامه نویسان منتشر کنید! برای اینکار به بخش نوشتن مطلب <i class="fas fa-pen-nib"></i>) بروید. پیشنهاد شبکه اجتماعی برنامه نویسان برای اولین مطلب: <strong>چگونه برنامه نویس شدید؟</strong></p>
    </div>
{% endblock %}