<!-- Delete Post -->
<div class="modal" id="delete_post">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">هشدار - حذف مطلب</h5>
            </div>

            <div class="modal-body">
                با این کار مطلب حذف می‌شود و دیگر قابل بازیابی نیست.<br />آیا مطمئن هستید؟
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary border-gray" onclick="closeModal('delete_post')">خیر</button>
                <a href="{% url 'person:post:delete_post' user.username post.id %}">
                    <button type="button" class="btn btn-danger border-gray">بله</button>
                </a>
            </div>
        </div>
    </div>
</div>
