<div id="post-menu" class="post-footer-sticky border-gray">
    <!-- Like -->
    {% if user.is_authenticated %}
        {% if post in authenticated_user.liked_posts.all %}
        <form method="POST" id="{{ post.id }}" class="like-form">
            {% csrf_token %}

            <span class="likes_{{ post.id }}">
                <button type="submit" class="btn btn-light text-danger border-gray"><i class="fas fa-heart"></i> {{ post.likes }}</button>
            </span>
        </form>

        {% else %}
            <form method="POST" id="{{ post.id }}" class="like-form">
                {% csrf_token %}

                <span class="likes_{{ post.id }}">
                    <button type="submit" class="btn btn-light border-gray"><i class="far fa-heart"></i> {{ post.likes }}</button>
                </span>
            </form>
        {% endif %}

    {% else %}
        <a href="{% url 'person:post:post_like' post.author.username post.id %}">
            <button type="button" class="btn btn-light  border-gray">
                <i class="far fa-heart"></i> {{ post.likes }}
            </button>
        </a>
    {% endif %}

    <!-- Comments -->
    <a href="{% url 'person:post:post_detail' post.author.username post.id %}#comments">
        <button class="btn btn-light border-gray" type="button">
            <i class="fas fa-comment"></i> {{ post.comments }}
        </button>
    </a>

    <!-- Views -->
    <button type="button" class="btn btn-light border-gray">
        <i class="fas fa-eye"></i> {{ post.views }}
    </button>
</div>

<script>
    document.getElementById('{{ post.id }}').onclick = function() {like('{{ post.id }}', '{% url 'person:post:post_like' post.author.username post.id %}')};
</script>