<!-- Post options for post author -->
{% if user.is_authenticated %}
    {% if user.username == post.author.username %}
    <div class="dropdown">
        <a class="text-muted" type="button">
            <p class="options"><i class="options fas fa-ellipsis-h"></i></p>
        </a>
        
        <div class="dropdown-content">
            <a href="{% url 'person:post:edit_post' post.id %}"><i class="fas fa-pen"></i> ویرایش</a>
            <a href="{% url 'rocket' %}"><i class="fas fa-rocket"></i> افزایش بازدید</a>
            <button type="button" onclick="openModal('delete_post')"><i class="fas fa-trash-alt"></i> حذف</button>
        </div>
    </div>

        {% include 'post/parts/delete_post_dialog.html' %}

    {% else %}
        {% if post.category != 'غیره' and post.category != None %}
            <span class="badge badge-light">
                {{ post.category }}
            </span>
        {% endif %}
    {% endif %}

    {% else %}
    {% if post.category != 'غیره' and post.category != None %}
        <span class="badge badge-light">
            {{ post.category }}
        </span>
    {% endif %}
{% endif %}
