<p>ویرایشگر مطلب از مارک دان (Markdown) پشتیبانی می‎کند.</p>
<hr />
<div class="codehilite"><pre class="rtlpre"><span></span><code><span class="err">نوشتن</span> <span class="err">عنوان</span> <span class="err">خیلی</span> <span class="err">راحته</span><span class="p">.</span> <span class="err">فقط</span> <span class="err">کافیه</span> <span class="err">اولش</span> <span class="err">به</span> <span class="err">مقدار</span> <span class="err">لازم</span> <span class="o">#</span> <span class="err">بذارید</span><span class="p">:</span>

<span class="o">#</span> <span class="err">عنوان</span> <span class="err">سطح</span> <span class="mi">1</span>
<span class="o">##</span> <span class="err">عنوان</span> <span class="err">سطح</span> <span class="mi">2</span>
<span class="o">###</span> <span class="err">عنوان</span> <span class="err">سطح</span> <span class="mi">3</span>
<span class="o">####</span> <span class="err">عنوان</span> <span class="err">سطح</span> <span class="mi">4</span>
<span class="o">#####</span> <span class="err">عنوان</span> <span class="err">سطح</span> <span class="mi">5</span>
<span class="o">######</span> <span class="err">عنوان</span> <span class="err">سطح</span> <span class="mi">6</span>
</code></pre></div>

<h1>عنوان سطح 1</h1>
<h2>عنوان سطح 2</h2>
<h3>عنوان سطح 3</h3>
<h4>عنوان سطح 4</h4>
<h5>عنوان سطح 5</h5>
<h6>عنوان سطح 6</h6>
<hr />
<div class="codehilite"><pre class="rtlpre"><span></span><code><span class="err">بولد</span> <span class="err">کردن</span> <span class="err">و</span> <span class="err">ایتلیک</span> <span class="err">کردن</span> <span class="err">هم</span> <span class="err">به</span> <span class="err">این</span> <span class="err">دو</span> <span class="err">صورت</span> <span class="err">انجام</span> <span class="err">می‌شه</span><span class="p">:</span>

<span class="o">**</span><span class="err">بولد</span><span class="o">**</span>
<span class="n">__بولد__</span>

<span class="o">*</span><span class="err">ایتالیک</span><span class="o">*</span>
<span class="n">_ایتالیک_</span>
</code></pre></div>

<p><strong>بولد</strong><br />
<strong>بولد</strong></p>
<p><em>ایتالیک</em><br />
<em>ایتالیک</em></p>
<hr />
<div class="codehilite"><pre class="rtlpre"><span></span><code><span class="err">برای</span> <span class="err">قرار</span> <span class="err">دادن</span> <span class="err">لینک</span> <span class="err">از</span> <span class="err">این</span> <span class="err">روش</span> <span class="err">استفاده</span> <span class="err">کنید</span><span class="p">:</span>

<span class="p">[</span><span class="err">عنوان</span> <span class="err">لینک</span><span class="p">](</span><span class="err">لینک</span><span class="p">)</span>

<span class="err">مثال</span><span class="p">:</span> <span class="p">[</span><span class="err">شبکه</span> <span class="err">اجتماعی</span> <span class="err">برنامه</span> <span class="err">نویسان</span><span class="p">](</span><span class="o">/</span><span class="p">)</span>
</code></pre></div>

<p><a href="/">شبکه اجتماعی برنامه نویسان</a></p>
<hr />
<div class="codehilite"><pre class="rtlpre"><span></span><code><span class="err">برای</span> <span class="err">قرار</span> <span class="err">دادن</span> <span class="err">تصویر</span> <span class="err">از</span> <span class="err">این</span> <span class="err">روش</span> <span class="err">استفاده</span> <span class="err">کنید</span><span class="p">:</span>

<span class="o">!</span><span class="p">[</span><span class="err">متن</span> <span class="err">جایگزین</span> <span class="err">تصویر</span><span class="p">](</span><span class="err">آدرس</span> <span class="err">تصویر</span><span class="p">)</span>

<span class="err">مثال</span><span class="p">:</span> <span class="o">!</span><span class="p">[</span><span class="err">طبیعت</span> <span class="err">زیبا</span><span class="p">](</span><span class="n">http</span><span class="p">:</span><span class="o">//</span><span class="n">localhost</span><span class="p">:</span><span class="mi">8000</span><span class="o">/</span><span class="n">cloud</span><span class="o">/</span><span class="n">images</span><span class="o">/</span><span class="n">yellownature</span><span class="p">.</span><span class="n">jpeg</span><span class="p">)</span>
</code></pre></div>

<p><img alt="طبیعت زیبا" src="http://localhost:8000/cloud/images/yellownature.jpeg" /></p>
<hr />
<div class="codehilite"><pre class="rtlpre"><span></span><code><span class="err">قرار</span> <span class="err">دادن</span> <span class="err">فهرست</span> <span class="err">هم</span> <span class="err">به</span> <span class="err">همین</span> <span class="err">راحتیه</span><span class="p">:</span>

<span class="o">-</span> <span class="err">گزینه</span> <span class="mi">1</span>
<span class="o">-</span> <span class="err">گزینه</span> <span class="mi">2</span>
    <span class="o">-</span> <span class="err">زیر</span> <span class="err">مجموعه</span> <span class="err">گزینه</span> <span class="mi">2</span>
<span class="o">-</span> <span class="err">گزینه</span> <span class="mi">3</span>
</code></pre></div>

<ul>
<li>گزینه 1</li>
<li>گزینه 2<ul>
<li>زیر مجموعه گزینه 2</li>
</ul>
</li>
<li>گزینه 3</li>
</ul>
<hr />
<div class="codehilite"><pre class="rtlpre"><span></span><code><span class="err">اگه</span> <span class="err">می‌خواین</span> <span class="err">وسط</span> <span class="err">متن</span> <span class="err">یه</span> <span class="err">چیزی</span> <span class="err">رو</span> <span class="err">به</span> <span class="err">شکل</span> <span class="err">کد</span> <span class="err">نمایش</span> <span class="err">بدید</span> <span class="err">از</span> <span class="err">این</span> <span class="err">روش</span> <span class="err">استفاده</span> <span class="err">کنید</span><span class="p">:</span>

<span class="o">`</span><span class="n">This</span> <span class="k">is</span> <span class="n">an</span> <span class="n">inline</span> <span class="n">code</span><span class="o">`</span>
</code></pre></div>

<p><code>This is an inline code</code></p>
<hr />
<div class="codehilite"><pre class="rtlpre"><span></span><code><span class="err">گر</span> <span class="err">می‌خواید</span> <span class="err">کدی</span> <span class="err">رو</span> <span class="err">تو</span> <span class="err">مطلب</span> <span class="err">قرار</span> <span class="err">بدید</span> <span class="err">از</span> <span class="err">این</span> <span class="err">روش</span> <span class="err">استفاده</span> <span class="err">کنید</span><span class="p">:</span>

<span class="o">```</span>
<span class="n">x</span> <span class="o">=</span> <span class="mi">1</span>
<span class="n">y</span> <span class="o">=</span> <span class="mi">2</span>
<span class="n">print</span><span class="p">(</span><span class="n">x</span> <span class="o">+</span> <span class="n">y</span><span class="p">)</span>
<span class="o">```</span>
</code></pre></div>

<div class="codehilite"><pre><span></span><code><span class="err">x = 1</span>
<span class="err">y = 2</span>
<span class="err">print(x + y)</span>
</code></pre></div>

<hr />
<div class="codehilite"><pre class="rtlpre"><span></span><code><span class="err">در</span> <span class="err">ضمن</span> <span class="err">با</span> <span class="err">قرار</span> <span class="err">دادن</span> <span class="err">نام</span> <span class="err">زبان</span> <span class="err">برنامه</span> <span class="err">نویسی</span> <span class="err">کدها</span> <span class="err">هایلایت</span> <span class="err">می‌شوند</span><span class="p">:</span>

<span class="o">```</span><span class="n">python</span>
<span class="n">x</span> <span class="o">=</span> <span class="mi">1</span>
<span class="n">y</span> <span class="o">=</span> <span class="mi">2</span>
<span class="n">print</span><span class="p">(</span><span class="n">x</span> <span class="o">+</span> <span class="n">y</span><span class="p">)</span>
<span class="o">```</span>

<span class="err">اگر</span> <span class="err">هم</span> <span class="err">اسم</span> <span class="err">زبان</span> <span class="err">رو</span> <span class="err">ذکر</span> <span class="err">نکنید</span> <span class="err">با</span> <span class="err">تشخیص</span> <span class="err">خودکار</span> <span class="err">هایلایت</span> <span class="err">می‌شه</span><span class="p">.</span> <span class="err">اگر</span> <span class="err">کلا</span> <span class="err">هایلایت</span> <span class="err">نمی‌خواید</span> <span class="err">جلوش</span> <span class="n">plain</span> <span class="err">بذارید</span>
</code></pre></div>

<div class="codehilite"><pre><span></span><code><span class="n">x</span> <span class="o">=</span> <span class="mi">1</span>
<span class="n">y</span> <span class="o">=</span> <span class="mi">2</span>
<span class="nb">print</span><span class="p">(</span><span class="n">x</span> <span class="o">+</span> <span class="n">y</span><span class="p">)</span>
</code></pre></div>

<hr />
<div class="codehilite"><pre class="rtlpre"><span></span><code><span class="err">برای</span> <span class="err">جدول</span> <span class="err">هم</span> <span class="err">به</span> <span class="err">اینصورت</span> <span class="err">عمل</span> <span class="err">کنید</span><span class="p">:</span>

<span class="err">عنوان</span> <span class="mi">1</span> <span class="o">|</span> <span class="err">عنوان</span> <span class="mi">2</span>
<span class="c1">------- | -------</span>
<span class="err">داده</span> <span class="err">ستون</span> <span class="mi">1</span> <span class="o">|</span> <span class="err">داده</span> <span class="err">ستون</span> <span class="mi">2</span>
<span class="err">دومین</span> <span class="err">داده</span> <span class="err">ستون</span> <span class="mi">1</span> <span class="o">|</span> <span class="err">دومین</span> <span class="err">داده</span> <span class="err">ستون</span> <span class="mi">2</span>
</code></pre></div>

<table>
<thead>
<tr>
<th>عنوان 1</th>
<th>عنوان 2</th>
</tr>
</thead>
<tbody>
<tr>
<td>داده ستون 1</td>
<td>داده ستون 2</td>
</tr>
<tr>
<td>دومین داده ستون 1</td>
<td>دومین داده ستون 2</td>
</tr>
</tbody>
</table>
<br />