{% extends 'main.html' %}
{% load static %}

{% block title %}
    {{ super }} ویرایش پروفایل
{% endblock %}


{% block body %}


<div class="body  border-gray">
<div class="btn-group" role="group" aria-label="Basic example" style="float: left" dir="ltr">
    {% if github_login %}
        <button type="button" class="btn btn-github  border-gray" style="float: left"  data-toggle="tooltip" data-placement="bottom" title="متصل به گیت‌هاب"><i class="fab fa-github fa-lg"></i></button>

    {% else %}
        <a class="btn-group" role="group" href="{% url 'social:begin' 'github' %}" style="float: left" data-toggle="tooltip" data-placement="bottom" title="اتصال حساب به گیت‌هاب"><button type="button" class="btn btn-light  border-gray"><i class="fab fa-github fa-lg"></i></button></a>
    {% endif %}

    {% if gitlab_login %}
        <button type="button" class="btn btn-gitlab  border-gray" style="float: left" data-toggle="tooltip" data-placement="bottom" title="متصل به گیت‌لب"><i class="fab fa-gitlab fa-lg"></i></button>

    {% else %}
        <a class="btn-group" role="group" href="{% url 'social:begin' 'gitlab' %}" style="float: left" data-toggle="tooltip" data-placement="bottom" title="اتصال حساب به گیت‌لب"><button type="button" class="btn btn-light  border-gray"><i class="fab fa-gitlab fa-lg"></i></button></a>
    {% endif %}
</div>        




<h2>ویرایش پروفایل</h2><br/>

{% if img_obj %}
  <h3>Succesfully uploaded : {{img_obj.title}}</h3>
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            {% if form.avatar.errors %}
                <p><strong>آواتار</strong>{{ form.avatar.errors }}</p>
            {% endif %}
            {% if form.name.errors %}
                <p><strong>نام</strong>{{ form.name.errors }}</p>
            {% endif %}
            {% if form.public_email.errors %}
                <p><strong>ایمیل عمومی</strong>{{ form.public_email.errors }}</p>
            {% endif %}
            {% if form.public_email.errors %}
                <p><strong>ایمیل عمومی</strong>{{ form.public_email.errors }}</p>
            {% endif %}
            {% if form.mobile.errors %}
                <p><strong>شماره تماس</strong>{{ form.mobile.errors }}</p>
            {% endif %}
            {% if form.description.errors %}
                <p><strong>توضیحات</strong>{{ form.description.errors }}</p>
            {% endif %}
            {% if form.gender.errors %}
                <p><strong>جنسیت</strong>{{ form.gender.errors }}</p>
            {% endif %}
            {% if form.work.errors %}
                <p><strong>تخصص شما</strong>{{ form.work.errors }}</p>
            {% endif %}
            {% if form.skills.errors %}
                <p><strong>زبان‌های برنامه نویسی که بلدید</strong>{{ form.gender.errors }}</p>
            {% endif %}
            {% if form.github.errors %}
                <p><strong>گیت‌هاب</strong>{{ form.github.errors }}</p>
            {% endif %}
            {% if form.gitlab.errors %}
                <p><strong>گیت‌لب</strong>{{ form.gitlab.errors }}</p>
            {% endif %}
            {% if form.stackowerflow.errors %}
                <p><strong>استک اورفلو</strong>{{ form.stackowerflow.errors }}</p>
            {% endif %}
            {% if form.linkedin.errors %}
                <p><strong>لینکدین</strong>{{ form.linkedin.errors }}</p>
            {% endif %}
            {% if form.dev.errors %}
                <p><strong>دِو</strong>{{ form.dev.errors }}</p>
            {% endif %}
            {% if form.website.errors %}
                <p><strong>وبسایت</strong>{{ form.website.errors }}</p>
            {% endif %}
        </div>
    {% endif %}

    <button class="btn btn-primary  border-gray" type="button" data-toggle="collapse" data-target="#user_info" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-user"></i> اطلاعات شخصی <i class="fas fa-sort-down"></i>
    </button>

    <br/><br/>
    <div class="collapse" id="user_info">
        <label>آواتار:</label>
        {% if person.avatar.url != None %}
            <img src="{{ person.avatar.url }}" width="128px" height="128px" class=" border-gray" style="border-radius: 100%; border-style: solid; border-width: 1px;">
        
        {% else %}
            <img class="avatar  border-gray" type="button" src="/media/avatars/default_avatar.png/" width="128px" height="128px" style="border-style: solid; border-width: 1px;">
        {% endif %}

        <br/><br/>
        {{ form.avatar }}
        <br/><br/>
        <label>نام:</label>
        {{ form.name }}
        <br/>
        <label>پست الکترونیک (عمومی):</label>
        {{ form.public_email }}
        <br/>
        <label>شماره تماس (عمومی):</label>
        {{ form.mobile }}
        <br/>
        <label>توضیحات:</label>
        {{ form.description }}
        <br/>
        <label>سال تولد:</label>
        {{ form.year_of_born }}
        <br/>
        <label>جنسیت:</label>
        {{ form.gender }}
        <br/><br/>  
    </div>

    <button class="btn btn-primary  border-gray" type="button" data-toggle="collapse" data-target="#professional_info" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-code"></i> اطلاعات حرفه‌ای <i class="fas fa-sort-down"></i>
    </button>

    <br/><br/>
    <div class="collapse" id="professional_info">
        <label>تخصص شما:</label>
        {{ form.work }}
        <br/>
        <label>مهارت‌های شما:</label>
        {{ form.skills }}
        <br/>
    </div>

    <button class="btn btn-primary  border-gray" type="button" data-toggle="collapse" data-target="#social" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-share-alt"></i> در فضای مجازی <i class="fas fa-sort-down"></i>
    </button>

    <br/><br/>
    <div class="collapse" id="social">
        <label>گیت‌هاب:</label>
        {{ form.github }}
        <br/>
        <label>گیت‌لب:</label>
        {{ form.gitlab }}
        <br/>
        <label>استک اورفلو:</label>
        {{ form.stackowerflow }}
        <br/>
        <label>لینکدین:</label>
        {{ form.linkedin }}
        <br/>
        <label>دِو:</label>
        {{ form.dev }}
        <br/>
        <label>وبسایت:</label>
        {{ form.website }}
        <br/>
    </div>

    <a href="{% url 'person:edit_rezome' %}"><button type="button" class="btn btn-primary  border-gray"><i class="far fa-file-alt"></i> ویرایش رزومه</button></a>

    <br/><br/>
    <a href="{% url 'password_change' %}"><button class="btn btn-primary  border-gray" type="button">
        <i class="fas fa-key"></i> تغییر رمز عبور
    </button></a>

    <br/><br/>
    <button type="submit" class="btn btn-success  border-gray">ذخیره</button>
    <a href="{% url 'person:profile_detail' user.username %}"><button type="button" class="btn btn-danger  border-gray">انصراف</button></a>
</form>
</div>
{% endblock %}