{% extends 'main.html' %}
{% load jformat %}
{% load static %}

{% block title %}
    {{ super }} دوستان شما
{% endblock %}


{% block body %}
<div class="body  border-gray">
    <div class="btn-group-vertical" style="float: left; text-align: left; align-items: flex-end;">
        <a href="{% url 'person:friends_posts' 1 %}"><button type="button" class="btn btn-primary  border-gray" style="float: left; margin-bottom: 10px;"><i class="fas fa-pen-nib"></i> مشاهده مطالب دوستان</button></a>
    </div>

    <h2>دوستان شما</h2><br/>
    <p>شما <strong>{{ authenticated_user.len_following }} نفر</strong> را دنبال می‌کنید</p>
</div>
<ul class="infinite-container" style="list-style-type: none; padding-right: 0px;">
    {% for person in persons.object_list %}
        <li class="infinite-item">
            <div class="body  border-gray">
                <div class="dropdown">
                    <a class="text-muted" type="button">
                        <p class="options"><i class="options fas fa-ellipsis-h"></i></p>
                    </a>
                    
                    <div class="dropdown-content">
                        {% if person in authenticated_user.following.all %}
                            <a href="{% url 'person:follow_person' person.username current_url %}">لغو دنبال</a>
                        {% endif %}
                    </div>
                </div>

                <div style="display: table;">
                    <div style="display: inline-block;">
                        <a href="{% url 'person:profile_detail' person.username %}">
                            {% if person.avatar.url != None %}
                                <img class="avatar border-gray " src="{{ person.avatar.url }}" width="48px" height="48px" class=" border-gray" style="border-style: solid; border-width: 1px;">
                            
                            {% else %}
                                <img class="avatar  border-gray" type="button" src="/cloud/avatars/default_avatar.png/" width="48px" height="48px" style="border-style: solid; border-width: 1px;">
                            {% endif %}
                        </a> 
                    </div>
        
                    <div style="display: table-cell; vertical-align: middle; padding-right: 20px;">
                        <p style="margin-bottom: 0px;">
                            <a class="person-name" href="{% url 'person:profile_detail' person.username %}">
                            
                                {{ person.name }} 
                            </a>
                            {% if person.work != None %}
                                - {{ person.work }}
                            {% endif %}
                        </p>
                        {% if person.description != None %}
                            <small class="text-muted">{{ person.description }}</small>
                        {% endif %}
                    </div>
                </div>
            </div>



            


        </li>
    {% endfor %}
</ul>
<br/>

{% if persons.has_next %}
    <a class="infinite-more-link" href="{% url 'person:friends' persons.next_page_number %}"></a>

    <div class="d-flex justify-content-center" style="display:none;">
        <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
{% endif %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
    <script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {

    },
    offset: 'bottom-in-view',

    onBeforePageLoad: function () {
    $('.spinner-grow').show();
    },
    onAfterPageLoad: function () {
    $('.spinner-grow').hide();
    }

    });

    </script>

{% endblock %}